.wrapper {
  display: flex;
  justify-content: center;
  z-index: 100;
  max-width: 400px;
}

.field {
  flex: 1;
  margin: 0.8rem;
  font-size: 0.9rem;
  text-align: end;
  width: 4rem;
  @media screen and (min-width: 450px) {
    font-size: 1rem;
    width: 8rem;
  }
}

.optionsWrapper {
  flex: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // margin-left: 1rem;

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    width: 7rem;
    padding: 0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      background: transparent; /* make scrollbar transparent */
      -webkit-appearance: none;
      width: 0;
      height: 0;
    }
    @media screen and (min-width: 450px) {
      font-size: 1rem;
      width: 9rem;
    }
  }

  li {
    min-width: 8rem;
    text-align: center;
    margin: 0 1rem;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: bolder;
    scroll-snap-align: center;

    @media screen and (min-width: 450px) {
      font-size: 1.2rem;
      min-width: 9rem;
    }
  }
}

.dropdown {
  background: transparent;
  width: 10rem;
}
