@use "../../styles/_mixins" as m;

.imageBackground {
  @include m.flex-centered;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  z-index: -100;
}

.nextImage {
  z-index: -100;
}
