@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Raleway&display=swap");

$header-font: "Krona One", Helvetica, sans-serif;
$body-font: "Raleway", sans-serif;

$white: #e5e7e8;
$black: #000;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
