@use "./base" as b;

html,
body {
  padding: 0;
  margin: 0;
  font-family: b.$body-font;
  color: b.$black;
  overflow-x: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: b.$header-font;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}
