@use "../../styles/_mixins" as m;

.imageBackground {
  @include m.flex-centered;
  flex-direction: column;
  min-height: 120vh;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 1rem 0;

  @media screen and (min-width: 800px) {
    min-height: 110vh;
    // padding: 5rem 0;
  }
}
