@use "../../styles/_mixins" as m;
@use "../../styles/_base" as b;

.imageUIWrapper {
  @include m.flex-centered;
  flex-direction: column;
  background-color: b.$black;
  padding: 2rem;
  min-height: 500px;
  max-width: 450px;
  margin-bottom: 2rem;
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 95%;
  margin: 1rem 0 0.5rem 0;
}

.canvas {
  width: 400px;
  height: 400px;
}
