@use "../../styles/_mixins" as m;
@use "../../styles/_base" as b;

.wrapper {
  // max-width: 450px;
  // min-height: 500px;
  // margin-bottom: 2rem;
}

.imageUI {
  @include m.flex-centered;
  flex-direction: column;
  background-color: b.$black;
  padding: 2rem 1rem;

  @media screen and (min-width: 450px) {
    padding: 2rem;
  }
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 95%;
  margin: 1rem 0 0.5rem 0;
}

.canvas {
  width: 400px;
  height: 400px;
}

.attribution {
  min-height: 3rem;

  p {
    position: relative;
    width: 100%;
    text-align: right;
    padding-right: 3px;
    font-style: italic;
  }

  a {
    text-decoration: underline;
  }
}
