.footer {
  display: flex;

  align-items: flex-end;
  justify-content: right;
  margin-top: auto;
  padding-right: 2rem;

  width: 100%;
}

.text {
  color: black;
  z-index: 10;

  a {
    text-decoration: underline;
  }
}